.category-bar{
    height: 56px;

    display: flex;
    flex-direction: row;
    overflow: auto;

    position: fixed;
    top: 56px;
    left: 74px;
    right: 0;
}
.category-bar > button {
    cursor: pointer;
    height: 32px;
    padding: 0px 12px;
    margin: 12px 12px 12px 0px;
    background-color: #2f2f2f;

    font-size: 14px;
    color: #f1f1f1;
    
    border: none;
    border-radius: 8px;
}
.category-bar > button:hover {
    background-color: #444;
  }
  

.active-category {
    background-color: white;
    color: #2f2f2f;
    font-weight: bold;
}

.category-bar > button.active-category {
    background-color: white !important;
    color: #2f2f2f !important;
    font-weight: bold;
  }


.video-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
    padding-top: 50px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail
 {
    width: 100%;
    border-radius: 5px;
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 5px;

    font-size: 12px;
    font-weight: 500;
    color: white;

    padding: 4px;
    border-radius: 2px;
    background-color: black;
    opacity: 0.7;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-author {
    margin-bottom: 4px;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-author, 
.video-stats {
    font-size: 12px;
    color: #AAAAAA;
}

.thumbnail-row {
    position: relative;
}

.video-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video-overlay iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 3;
}
  
.progress-fill {
    height: 100%;
    width: 0%;
    background-color: red;
    transition: width 0.3s ease;
}